body{
    background-color:rgb(150, 166, 183);
}
h1{
    color: gold;
    background-color: black;
}
#q1{
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 60, 127);
    padding: 25px;
    border-radius: 25px;
    margin: 10px;
}
p{
    font-size:30px;
    color:rgb(255, 72, 72);
}
.ans{
    background-color: black;
    color: gold;
}
.ul{
    font-size:25px;
    color:rgb(23, 246, 250);
}
ul{
    font-size:25px;
    color:rgb(23, 246, 250);
}
.fc , .cc{
    font-size:25px;
    color: gold;
    background-color: black;
}
pre{
    font-size:25px;
    color:rgb(23, 246, 250);
}