body{
   background-color: goldenrod;
}
#flex{
    display: flex;
    background-color:rgb(4, 80, 5);
    flex-direction: column;
    border: 2px solid rgb(21, 18, 18);
    border-radius: 25px;
    margin: 5px ;
}
.q1{
    background-color: black;
    color:gold;
    width: fit-content;
    border-radius: 25px;
    margin-left: 2px;
    font-size: 30px;
}
.a1{
    background-color: black;
    color:gold;
    width: fit-content;
    font-size: 28px;
  
}
.pans{
    width: fit-content;
    font-size: 27px;
    color: rgb(5, 211, 247);
    
}